.bounce {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}

/* Replace HTML styling of button */
button {
  background: none;
  border:none;
  height: 50px;
  width: 30px;
}

.button {
  background-color: red;
  /* background-image: url('./src/images/down-arrow.svg'); */
  background-repeat: no-repeat;
  background-size: 30px;
  height: 50px;
  width: 50px;
}

.button-container{ 
  padding-top: 16px;
}

.button-container, .projects-frame {
  height: 100vh;
}