---
import Layout from "../layouts/Layout.astro";
import ScrollButton from "../components/ScrollButton";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="welcome">
      <div class="intro">Hi, I'm Jordan.</div>
      <div>Welcome to my Fullstack Portfolio.</div>
    </div>
    <div class="scroll-button">
      <ScrollButton />
    </div>
  </main>
</Layout>

<style>
  .intro {
    font-size: 30px;
  }
  main {
    margin: auto;
    padding: 1rem;
    color: black;
    font-size: 20px;
  }
  .welcome,
  .scroll-button {
    /* Positioning */
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30vh;
    /* Font */
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 50px;
    font-weight: 400;
  }
</style>
