---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container";
---

<Layout title="Jordan Barton's Fullstack Portfolio">
  <main>
    <Container client:load />
  </main>
</Layout>
